In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##### 1. Load the Data:

In [50]:
sales = pd.read_csv(r'C:\Users\oxysa\Desktop\NAVTACC\sales_data.csv')

###### 2. Basic Exploration

In [51]:
sales.head(10)

         Date    Store    Product  Quantity  Revenue
0  2023-01-01  Store 1  Product A        10      100
1  2023-01-02  Store 1  Product B         5       75
2  2023-01-03  Store 2  Product A        20      200
3  2023-01-04  Store 2  Product C         8      120
4  2023-01-05  Store 3  Product B        15      150
5  2023-01-06  Store 3  Product A        30      300
6  2023-01-07  Store 1  Product C        12      180
7  2023-01-08  Store 1  Product A         8       80
8  2023-01-09  Store 2  Product B        10      100
9  2023-01-10  Store 3  Product C         6       90

In [52]:
sales.describe()

        Quantity    Revenue
count  15.000000   15.00000
mean   13.400000  144.00000
std     7.169379   67.67042
min     5.000000   70.00000
25%     8.500000   95.00000
50%    10.000000  120.00000
75%    16.500000  177.50000
max    30.000000  300.00000

In [53]:
sales.Store.unique()

array(['Store 1', 'Store 2', 'Store 3'], dtype=object)

In [54]:
pro_No = sales.Product.nunique()
print('No of Unique files in Product = ',pro_No)

No of Unique files in Product =  3

In [55]:
sales.groupby('Store')['Revenue'].sum()

Store
Store 1    505
Store 2    780
Store 3    875
Name: Revenue, dtype: int64

##### 3.Numpy Operation

In [56]:
quantity = sales.Quantity.to_numpy()
quantity

array([10,  5, 20,  8, 15, 30, 12,  8, 10,  6, 25, 10, 15,  9, 18])

In [57]:
avg = np.mean(quantity)
median = np.median(quantity)
std = np.std(quantity)
print('Average quantity Sold',avg)
print('Meadian in quantity',median)
print(f'SD of quantity {std:.2f}')

Average quantity Sold 13.4
Meadian in quantity 10.0
SD of quantity 6.93

In [58]:
np.sqrt(quantity)

array([3.16227766, 2.23606798, 4.47213595, 2.82842712, 3.87298335,
       5.47722558, 3.46410162, 2.82842712, 3.16227766, 2.44948974,
       5.        , 3.16227766, 3.87298335, 3.        , 4.24264069])

##### 4.Data Manipulation with pandas

In [59]:
sales['Revenue_per_unit'] = sales.Revenue/sales.Quantity
sales

          Date    Store    Product  Quantity  Revenue  Revenue_per_unit
0   2023-01-01  Store 1  Product A        10      100         10.000000
1   2023-01-02  Store 1  Product B         5       75         15.000000
2   2023-01-03  Store 2  Product A        20      200         10.000000
3   2023-01-04  Store 2  Product C         8      120         15.000000
4   2023-01-05  Store 3  Product B        15      150         10.000000
5   2023-01-06  Store 3  Product A        30      300         10.000000
6   2023-01-07  Store 1  Product C        12      180         15.000000
7   2023-01-08  Store 1  Product A         8       80         10.000000
8   2023-01-09  Store 2  Product B        10      100         10.000000
9   2023-01-10  Store 3  Product C         6       90         15.000000
10  2023-01-11  Store 2  Product A        25      250         10.000000
11  2023-01-12  Store 1  Product B        10       70          7.000000
12  2023-01-13  Store 3  Product A        15      160         10.666667
13  2023-01-14  Store 2  Product C         9      110         12.222222
14  2023-01-15  Store 3  Product B        18      175          9.722222

In [60]:
product_revenue = sales.groupby('Product')['Revenue'].sum()
product_revenue

Product
Product A    1090
Product B     570
Product C     500
Name: Revenue, dtype: int64

In [61]:
sales.groupby('Store')['Revenue'].sum()

Store
Store 1    505
Store 2    780
Store 3    875
Name: Revenue, dtype: int64

In [62]:
sales.groupby(['Store','Product'])['Quantity'].sum()

Store    Product
Store 1  Product A    18
         Product B    15
         Product C    12
Store 2  Product A    45
         Product B    10
         Product C    17
Store 3  Product A    45
         Product B    33
         Product C     6
Name: Quantity, dtype: int64

In [63]:
avg_rev = sales[sales.Revenue_per_unit > sales.Revenue_per_unit.mean()]
avg_rev

          Date    Store    Product  Quantity  Revenue  Revenue_per_unit
1   2023-01-02  Store 1  Product B         5       75         15.000000
3   2023-01-04  Store 2  Product C         8      120         15.000000
6   2023-01-07  Store 1  Product C        12      180         15.000000
9   2023-01-10  Store 3  Product C         6       90         15.000000
13  2023-01-14  Store 2  Product C         9      110         12.222222

In [64]:
sorted = sales.sort_values(by=['Store','Product'])
sales['Cumulative_Revenue'] = sorted.groupby(['Store','Date'])['Revenue'].cumsum()
sales

,Date,Store,Product,Quantity,Revenue,Revenue_per_unit,Cumulative_Revenue
0,2023-01-01,Store 1,Product A,10,100,10.000000,100
1,2023-01-02,Store 1,Product B,5,75,15.000000,75
2,2023-01-03,Store 2,Product A,20,200,10.000000,200
3,2023-01-04,Store 2,Product C,8,120,15.000000,120
4,2023-01-05,Store 3,Product B,15,150,10.000000,150
5,2023-01-06,Store 3,Product A,30,300,10.000000,300
6,2023-01-07,Store 1,Product C,12,180,15.000000,180
7,2023-01-08,Store 1,Product A,8,80,10.000000,80
8,2023-01-09,Store 2,Product B,10,100,10.000000,100
9,2023-01-10,Store 3,Product C,6,90,15.000000,90
10,2023-01-11,Store 2,Product A,25,250,10.000000,250
11,2023-01-12,Store 1,Product B,10,70,7.000000,70
12,2023-01-13,Store 3,Product A,15,160,10.666667,160
13,2023-01-14,Store 2,Product C,9,110,12.222222,110
14,2023-01-15,Store 3,Product B,18,175,9.722222,175

##### 5.Advance Analysis

In [76]:
correlation = sales['Quantity'].corr(sales['Revenue'])
print(f'{correlation:.3f}')

0.953

In [85]:
# a new column has created then product group by it 
sales['Per%'] = (sales.Revenue/sales.Revenue.sum())*100
sales.groupby('Product')['Per%'].sum()

Product
Product A    50.462963
Product B    26.388889
Product C    23.148148
Name: Per%, dtype: float64

In [103]:
avg_rev_pro = sales.groupby('Store')['Revenue_per_unit'].mean()
max_store = avg_rev_pro.idxmax()
rev_  = avg_rev_pro.max()
print(f'{max_store} has highest average per sale {rev_:.2f}')

Store 2 has highest average per sale 11.44